body{
  font: 15px/1.5 Roboto, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#17202A;
}

/* Global */
.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}
.container1{
  width:100%;
  height:auto;
  overflow:hidden;
  background-color: white;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#336600;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  font-size: 20px;
  background:white;
  color:#34495E;
  margin-bottom:10px;
}
.page-title{
  align-content: center;
  color:#34495E;
  font-size:55px;
  margin-bottom:10px;
}
/* Header **/
header{
  background:#17202A;
  color:#009999;
  padding-top:20px;
  min-height:70px;
  border-bottom:#009999 3px solid;
}

header a{
  color:white;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  float:left;
  margin:0;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#ffcc00;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


/* Showcase */
#showcase{
  min-height:400px;
  background:url('../showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:15px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}
/* Boxes */
#boxes{
  margin-top:20px;

}

#boxes .box{
  color:white;
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}
#boxes .box1{
  color:white;
  float:left;
  text-align: center;
  width:30%;
  padding:5px;
}

#boxes .box1 img{
  width:110px;
}


/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-right: 20%;
  font-size: 20px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:30%;
  margin-left: 20%;
  background:white;
  margin-top: 10px;
  color:#34495E;
  font-size: 20px;
}
.contact{
  width:280px;
	margin-top:25%;
	margin-left:38%;
  float:left;
  width:65%;
  align-content: center;
  background:white;
  margin-top: 10px;
  margin-bottom: 170px;
  color:#34495E;
  font-size: 20px;
}
.contact table{
  /* margin-top:450px; */
  padding: 30px 0;
  /* color:#00ffff; */
  width:1000px;
}
.contact input{
  border:none;
  background:none;
  padding-bottom: 15px;
  color:#34495E;
  font-size:18px;
  width:300px;
  float:left;
  margin:5px;
  overflow:hidden;
}
.btn{
    align-items: center;
		width:20%;
		background:#34495E;
		border:2px solid #34495E;
		color:green;
		padding:5px;
		font-size:20px;
		cursor:pointer;
		margin:10px 0;
}
.btn:hover {
		background-color: #336699;
}
article#main-col p{
  color:#34495E;
}
/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  color:#ffffff;
  background-color:#006666;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }
}
