/* Styling for top navbar */

* {
  font-family: 'Roboto',sans-serif;
}

a.link {
  text-decoration: none;
}

div.topnavbar {
  align-content: center;
}

div.topnavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.topnavbar li {
  float: left;
}

div.topnavbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
div.topnavbar li a:hover {
  background-color: #111;
}

div.topnavbar li.fl {
  float: right;
}

/* Styling for side navbar */

div.sidenavbar {
  /* float: left; */
  margin-right: : 0;
  width: 15%;
}

div.sidenavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #f1f1f1;
}

div.sidenavbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
div.sidenavbar li a:hover {
  background-color: #555;
  color: white;
}

.container{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Sigh out button styles */
.button {
  display: block;
  position: relative;
  float: left;
  width: 80px;
  padding: 0;
  margin-top: 8px;
  font-weight: 600;
  text-align: center;
  /* vertical-align: middle; */
  line-height: 30px;
  color: #FFF;
  border:0;
  transition: all 0.2s ;
}

.btnBlueGreen {
  background: #00AE68;
}

.btnFade.btnBlueGreen:hover {
  background: #21825B;
}

.form-group {
  background-color: #f2f2f2;
  margin: 30px;
  padding: 50px;
  display: inline-block;
}

input[type=text],input[type=password],input[type=email], select, textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

span.error {
  color: #ff0000;
}
